/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/



body {
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    letter-spacing: 1.2px;

}

nav {
    position: fixed;
    top: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    height: 29px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}

nav img {
    width: 65px;
    padding-left: 20px;
}

h1 {
    font-size: 2.7rem;
    color: #2C303F;
    padding-left: 12px;
}

.regular {
    font-size: 1.2rem;
    color: #5b5e6d;
    width: 90%;
    padding-left: 12px;
    padding-bottom: 10px;
    letter-spacing: 0.3px;
    
}

header {
    padding-top: 55px;
    width: 95%;
    margin: 0 auto;
}

#home-talking {
    text-align: center;
    padding-top: 25px;
}

#home-talking img {
    width: 400px;
}

.brand-images img {
    width: 110px;
}

.brand-images > p {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    padding-bottom: 25px;
    letter-spacing: 0.3px;
}

main {
    background: #F4F3F4;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 70px;
}

#container-brand {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 5px;
}

#container-brand hr {
    width: 100%;
}

#container-brand img {
    margin-top: 10px ;
    padding: 20px;
}

.brand-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#container-brand button {
    border: solid 0.7px;
    border-color: #192592;
    border-radius: 0.4em;
    height: 37px;
    width: 237.5px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #192592;
    background-color: white;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.3px;
    
}

hr {
    height: 0.5px;
    width: 100%;
    background-color: #ced3db;
    border-width: 0;
}

nav > hr {
    width: 100%;
}

nav ul {
    display: none;
}

#hamb-menu {
    width: 1.6em;
    height: 1.2em;
    background: linear-gradient(
    to bottom, 
    #5b5e6d, #5b5e6d 20%, 
    white 20%, white 40%, 
    #5b5e6d 40%, #5b5e6d 60%, 
    white 60%, white 80%, 
    #5b5e6d 80%, #5b5e6d 100%
  );
  margin-right: 30px;
}


#get-started-two {
    display: flex;
    flex-direction: column;;
    align-items: center;
}

#nav-div {
    width:100%
}

#get-started {
    display: flex;
    flex-direction: column;;
    align-items: center;
}

.email-btn {
    width: 232px;
    height: 32px;
    border-style: none;
    border: solid;
    border-width: 0.5px;
    border-radius: 0.2em;
    border-color: #ced3db;
}
.get-started-btn {
    border-style: none;
    border-radius: 0.4em;
    height: 37px;
    width: 237.5px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: #192592;
}

#get-started p {
    font-size: 1.2rem;
    color: #5b5e6d;
    letter-spacing: 0.3px;
}

#nav-bar {
    margin-top: 0;
    position: fixed;
    top: 43.6px;
    width: 100%;
    height: 0.7px;
    background-color: #e1e2e5;
    border-width: 0;   
}

#try-it {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#try-it p {
    font-size: 1.2rem;
    color: #5b5e6d;
    letter-spacing: 0.3px;
    margin-top: 2.1px;
}

#try-it input {
    margin-bottom: 15px;
    margin-top: 0;
    height: 34px;
}

h3 {
    font-size: 1.6rem;
    letter-spacing: 0.3px;
    margin-bottom: 0;
    text-align: center;
    color: #2C303F;
}

#try-it-line {
    width: 100%;
    margin-top: 40px;
}

footer img {
    width: 83px;
}

footer li {
    font-size: 1.2rem;
    line-height: 25px;
}

#footer-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: flex-start;
    justify-content: space-evenly;
}


#footer-menu ul {
    list-style: none;
    padding: 12px;

}

#footer-menu li {
    letter-spacing: 0.3px;
    color: #5b5e6d;
}

#lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.main-title {
    font-weight: bold;
}




#terms ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    list-style: none;
    text-align: center;
    gap: 12px;
    letter-spacing: 0.3px;
    margin-right: 22px;
    color: #5b5e6d;
    font-weight: bold;
}
   
#final {
    background-color: #F4F3F4 ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: baseline;
    justify-content: space-between;
}

#final img {
    width: 15px;
}

#lang {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    font-weight: 500;
    padding-bottom: 20px;
}

#icons {
    text-align: center;
    color: #5b5e6d;
    margin-bottom: 20px;
}

i {
    font-size: medium;
    padding-left: 4px;
}




@media screen and (max-width: 768px) {
    #home-talking img {
        width: 220px;
    }
    
    #final {
        background-color: #F4F3F4 ;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 769px) and (max-width: 961px) {
   
    #container-brand {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        

    }

    #container-brand hr {
        display: none;
    }

    .brand-group {
        padding: 40px;
        display: flex;
        flex-direction: row;
    }

    #container-brand img {
        width: 200px;
        margin-right: 30px;
    }

    .brand-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #get-started {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 12px;
    }

    #get-started button {
        width: 130px;
        margin-left: 10px;
        margin-right: 300px;;
    }

    .regular {
        width: 80%;
        font-size: 1.5rem;
    }

    #try-it {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        margin: 10px 20px;
    }

    #get-started-two {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
    }

    #get-started-two input {
        margin-right: 5px;
    }

    #try-it-two h3, p {
        text-align: left;
    }

    #final {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        padding: 4px 20px;
    }

    #social-media {
        display: flex;

    }

    #lang {
        padding-right: 30px;
    }


}
